In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
housing_train_raw = pd.read_csv("../../MachineLearning Training/datasets/housing2/train.csv")
housing_test_raw = pd.read_csv("../../MachineLearning Training/datasets/housing2/test.csv")
# print(housing_train_raw.shape,housing_test_raw.shape)
full_data = housing_train_raw.append(housing_test_raw)

print(full_data.shape)
cat = ["MSZoning","Street","LotShape","LandContour","Utilities","LotConfig","LandSlope","Neighborhood","Condition1","Condition2","BldgType","HouseStyle","RoofStyle","RoofMatl","Exterior1st","Exterior2nd","MasVnrType","ExterQual","ExterCond","Foundation","BsmtQual","BsmtCond","BsmtExposure","BsmtFinType1","BsmtFinType2","Heating","HeatingQC","CentralAir","Electrical","KitchenQual","Functional","FireplaceQu","GarageType","GarageFinish","GarageQual","GarageCond","PavedDrive","SaleType","SaleCondition"]

num = ["MasVnrArea","MSSubClass","LotFrontage","LotArea","OverallQual","OverallCond","YearBuilt","YearRemodAdd","BsmtFinSF1","BsmtFinSF2","BsmtUnfSF","TotalBsmtSF","1stFlrSF","2ndFlrSF","LowQualFinSF","GrLivArea","BsmtFullBath","BsmtHalfBath","FullBath","HalfBath","BedroomAbvGr","KitchenAbvGr","TotRmsAbvGrd","Fireplaces","GarageYrBlt","GarageCars","GarageArea","WoodDeckSF","OpenPorchSF","EnclosedPorch","3SsnPorch","ScreenPorch","PoolArea","MiscVal","MoSold","YrSold"]

# full=cat+num
# flag=1
# for i in range(80):
#     for j in range(75):
#         if housing_test_raw.columns[i] == full[j]:
#             flag = 0
#             break
#     if flag==1:
#         print(housing_test_raw.columns[i])
#     flag=1

housing_test_raw.info()

(2919, 81)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 80 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1459 non-null   int64
 1   MSSubClass     1459 non-null   int64
 2   MSZoning       1455 non-null   object
 3   LotFrontage    1232 non-null   float64
 4   LotArea        1459 non-null   int64
 5   Street         1459 non-null   object
 6   Alley          107 non-null    object
 7   LotShape       1459 non-null   object
 8   LandContour    1459 non-null   object
 9   Utilities      1457 non-null   object
 10  LotConfig      1459 non-null   object
 11  LandSlope      1459 non-null   object
 12  Neighborhood   1459 non-null   object
 13  Condition1     1459 non-null   object
 14  Condition2     1459 non-null   object
 15  BldgType       1459 non-null   object
 16  HouseStyle     1459 non-null   object
 17  OverallQual    1459 non-null   int64
 18  OverallCond    1459 non-null   int64
 19  YearBuilt      1459 non-null   int64
 20  YearRemodAdd   1459 non-null   int64
 21  RoofStyle      1459 non-null   object
 22  RoofMatl       1459 non-null   object
 23  Exterior1st    1458 non-null   object
 24  Exterior2nd    1458 non-null   object
 25  MasVnrType     1443 non-null   object
 26  MasVnrArea     1444 non-null   float64
 27  ExterQual      1459 non-null   object
 28  ExterCond      1459 non-null   object
 29  Foundation     1459 non-null   object
 30  BsmtQual       1415 non-null   object
 31  BsmtCond       1414 non-null   object
 32  BsmtExposure   1415 non-null   object
 33  BsmtFinType1   1417 non-null   object
 34  BsmtFinSF1     1458 non-null   float64
 35  BsmtFinType2   1417 non-null   object
 36  BsmtFinSF2     1458 non-null   float64
 37  BsmtUnfSF      1458 non-null   float64
 38  TotalBsmtSF    1458 non-null   float64
 39  Heating        1459 non-null   object
 40  HeatingQC      1459 non-null   object
 41  CentralAir     1459 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1459 non-null   int64
 44  2ndFlrSF       1459 non-null   int64
 45  LowQualFinSF   1459 non-null   int64
 46  GrLivArea      1459 non-null   int64
 47  BsmtFullBath   1457 non-null   float64
 48  BsmtHalfBath   1457 non-null   float64
 49  FullBath       1459 non-null   int64
 50  HalfBath       1459 non-null   int64
 51  BedroomAbvGr   1459 non-null   int64
 52  KitchenAbvGr   1459 non-null   int64
 53  KitchenQual    1458 non-null   object
 54  TotRmsAbvGrd   1459 non-null   int64
 55  Functional     1457 non-null   object
 56  Fireplaces     1459 non-null   int64
 57  FireplaceQu    729 non-null    object
 58  GarageType     1383 non-null   object
 59  GarageYrBlt    1381 non-null   float64
 60  GarageFinish   1381 non-null   object
 61  GarageCars     1458 non-null   float64
 62  GarageArea     1458 non-null   float64
 63  GarageQual     1381 non-null   object
 64  GarageCond     1381 non-null   object
 65  PavedDrive     1459 non-null   object
 66  WoodDeckSF     1459 non-null   int64
 67  OpenPorchSF    1459 non-null   int64
 68  EnclosedPorch  1459 non-null   int64
 69  3SsnPorch      1459 non-null   int64
 70  ScreenPorch    1459 non-null   int64
 71  PoolArea       1459 non-null   int64
 72  PoolQC         3 non-null      object
 73  Fence          290 non-null    object
 74  MiscFeature    51 non-null     object
 75  MiscVal        1459 non-null   int64
 76  MoSold         1459 non-null   int64
 77  YrSold         1459 non-null   int64
 78  SaleType       1458 non-null   object
 79  SaleCondition  1459 non-null   object
dtypes: float64(11), int64(26), object(43)
memory usage: 912.0+ KB

In [3]:
from sklearn.base import BaseEstimator, TransformerMixin
class DataFrameSelector(BaseEstimator, TransformerMixin):
    def __init__(self, attribute_names):
        self.attribute_names = attribute_names
    def fit(self, X, y=None):
        return self
    def transform(self, X):
        return X[self.attribute_names]
# Inspired from stackoverflow.com/questions/25239958
class MostFrequentImputer(BaseEstimator, TransformerMixin):
    def fit(self, X, y=None):
        self.most_frequent_ = pd.Series([X[c].value_counts().index[0] for c in X],
                                        index=X.columns)
        return self
    def transform(self, X, y=None):
        return X.fillna(self.most_frequent_)

In [4]:
from sklearn.pipeline import Pipeline,FeatureUnion
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer

num_pipe=Pipeline([
    ("num" , DataFrameSelector(num)),
    ("imputer",SimpleImputer(strategy="mean"))
    
])

cat_pipe=Pipeline([
    ("cat",DataFrameSelector(cat)),
    ("imputer",MostFrequentImputer()),
    ("encoder",OneHotEncoder(sparse=False))
])

full_pipeline=FeatureUnion(transformer_list=[
    ("num",num_pipe),
    ("cat",cat_pipe)
])

X_housing = full_pipeline.fit_transform(full_data)
y_train = housing_train_raw["SalePrice"]
X_train = X_housing[0:1460,:]
X_test = X_housing[1460:2920,:]

In [5]:
def to_df(X,housing_raw):
    prediction = pd.DataFrame(X,columns=list(housing_raw.columns),index=list(housing_raw["Id"]))
    prediction.index.names=['Id']
len(cat)

39

In [10]:
import xgboost

xg_clf = xgboost.XGBRegressor()
xg_clf.fit(X_train,y_train)
y_pred_xg = xg_clf.predict(X_test)
save_pred(y_pred_xg)
#Score : 0.21729

          SalePrice
Id
1461  133007.109375
1462  152277.109375
1463  177917.171875
1464  196181.375000
1465  184099.406250
...             ...
2915   79094.718750
2916   78512.218750
2917  175129.078125
2918  114325.507812
2919  215453.843750

[1459 rows x 1 columns]

# RandomForestClassifier

In [47]:
from sklearn.ensemble import RandomForestClassifier

forest_clf = RandomForestClassifier(n_estimators=100)
forest_clf.fit(X_train,y_train)
y_pred = forest_clf.predict(X_test)
save_pred(y_pred)
#Score : 0.21729

      SalePrice
Id
1461     125000
1462     164900
1463     192000
1464     173000
1465     180000
...         ...
2915      75000
2916      88000
2917     149900
2918     126000
2919     190000

[1459 rows x 1 columns]

# KNeighborsClassifier

In [13]:
from sklearn.neighbors import KNeighborsClassifier

knn_clf = KNeighborsClassifier(n_neighbors=5)
knn_clf.fit(X_train,y_train)
y_pred_knn = knn_clf.predict(X_test)
save_pred(y_pred_knn)

      SalePrice
Id
1461     131500
1462     151500
1463     130500
1464     159000
1465     108480
...         ...
2915      75000
2916      83000
2917     141000
2918     100000
2919     237000

[1459 rows x 1 columns]

# SVR

In [18]:
from sklearn.svm import SVR 

svr = SVR(kernel="linear")
svr.fit(X_train,y_train)
y_pred_svr = knn_clf.predict(X_test)
save_pred(y_pred_svr)

      SalePrice
Id
1461     131500
1462     151500
1463     130500
1464     159000
1465     108480
...         ...
2915      75000
2916      83000
2917     141000
2918     100000
2919     237000

[1459 rows x 1 columns]

In [8]:
def save_pred(y):
    prediction = pd.DataFrame(y,columns=["SalePrice"],index=list(housing_test_raw["Id"]))
    prediction.index.names=['Id']
    prediction.to_csv("_prediction.csv")
    return prediction

In [17]:
save_pred(y_pred)

      SalePrice
Id
1461     129900
1462     158000
1463     192000
1464     181000
1465     189000
...         ...
2915      75000
2916      88000
2917     107000
2918      84500
2919     274300

[1459 rows x 1 columns]

In [16]:
from sklearn.model_selection import cross_val_score
forest_scores = cross_val_score(forest_clf, X_train, y_train, cv=10)
forest_scores.mean()

c:\users\marc\appdata\local\programs\python\python38\lib\site-packages\sklearn\model_selection\_split.py:670: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  warnings.warn(("The least populated class in y has only %d"

0.013013698630136985